export OVPN_PATH='/etc/openvpn/client/raisson.souto.ovpn'

alias vpn-start='sudo openvpn --config $OVPN_PATH'
alias vpn-stop='sudo pkill openvpn'
alias vpn-status='ps aux | grep openvpn'

alias q='clear'

# apt
alias update='sudo apt update'
alias install='sudo apt install -y'

# file system
alias CODE='cd ~/code'
alias ..='cd ..;ls --color=auto'
alias ...='cd ../../;ls --color=auto'

alias ll='ls -lha'

# git
alias rebase='git rebase'
alias gadd='git add'
alias commit='git commit -m'
alias gpull='git pull'
alias gpush='git push'
alias gts='git status'

# python & pip
alias py='python3'
alias pip='pip3'
alias pyreq='pip install -r requirements.txt'
alias pyvenv='python3 -m venv venv && source venv/bin/activate'
# tmux
alias tnew='tmux -2 new -s'
alias tati='tmux -2 attach -t'
alias tkll='tmux kill-ses -t'

# k8s
alias k='kubectl'
alias kg='k get'
alias ka='k apply -f'
alias kdes='k describe'
alias kx='k exec'
alias kdel='k delete'
alias kl='k logs'

# command search
if [[ $- == *i* ]]
then
  bind '"\e[A": history-search-backward'
  bind '"\e[B": history-search-forward'
  bind '"\e[C": forward-char'
  bind '"\e[D": backward-char'
fi
